@import url('https://fonts.googleapis.com/css2?family=Benne&display=swap');

*{
    font-family: 'Benne', serif;
    margin: 0;
    padding: 0;
}

body{
    background-color: ivory;
    background-image: url('https://new-year.spartacodingclub.kr/images/pattern.png');
    background-position: 600px 100px;
    background-repeat: no-repeat;
}

.myTitle{
    color: darkred;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.myTitle h1{
    font-size: 56px;
    margin-bottom: 0;
}

.item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 1200px;
    margin: auto;
}
.a{
    width: 200px;
    height: 200px;
    border-radius: 200px;
    border: 3px solid darkred;
    box-shadow: darkred 0px 0px 10px 0px;
    background-color: darkred;
    display: block;
    margin: 10px;
    text-align: center;
    background-size: cover;
    background-position: center; 
    font-size: 32px;
    background-image: url('https://new-year.spartacodingclub.kr/images/yearS1.png');
    color: white;
    margin: 80px auto 50px auto;
}
.item a{
    width: 150px;
    height: 150px;
    border-radius: 150px;
    border: 3px solid darkred;
    box-shadow: darkred 0px 0px 10px 0px;
    background-color: white;
    display: block;
    margin: 10px;
    background-size: cover;
    background-position: center;
    font-size: 24px;
}
.a1 {
    text-align: center;
    color: white;
    text-decoration: none;
    text-transform: capitalize;
     background-image: url('https://new-year.spartacodingclub.kr/images/yearS1.png'); }
.a2 {text-align: center;
    color: white;
    text-decoration: none;
    text-transform: capitalize; background-image: url('https://new-year.spartacodingclub.kr/images/yearS2.png'); }
.a3 {text-align: center;
    color: white;
    text-decoration: none;
    text-transform: capitalize; background-image: url('https://new-year.spartacodingclub.kr/images/yearS3.png'); }
.a4 { text-align: center;
    color: white;
    text-decoration: none;
    text-transform: capitalize;background-image: url('https://new-year.spartacodingclub.kr/images/yearS4.png'); }
.a5 {text-align: center;
    color: white;
    text-decoration: none;
    text-transform: capitalize; background-image: url('https://new-year.spartacodingclub.kr/images/yearS5.png'); }
.a6 {text-align: center;
    color: white;
    text-decoration: none;
    text-transform: capitalize; background-image: url('https://new-year.spartacodingclub.kr/images/yearS6.png'); }
.a7 {text-align: center;
    color: white;
    text-decoration: none;
    text-transform: capitalize; background-image: url('https://new-year.spartacodingclub.kr/images/yearS7.png'); }
.a8 {text-align: center;
    color: white;
    text-decoration: none;
    text-transform: capitalize; background-image: url('https://new-year.spartacodingclub.kr/images/yearS8.png'); }
.a9 {text-align: center;
    color: white;
    text-decoration: none;
    text-transform: capitalize; background-image: url('https://new-year.spartacodingclub.kr/images/yearS9.png'); }
.a10 {text-align: center;
    color: white;
    text-decoration: none;
    text-transform: capitalize; background-image: url('https://new-year.spartacodingclub.kr/images/yearS10.png'); }
.a11 {text-align: center;
    color: white;
    text-decoration: none;
    text-transform: capitalize; background-image: url('https://new-year.spartacodingclub.kr/images/yearS11.png'); }
.a12 {text-align: center;
    color: white;
    text-decoration: none;
    text-transform: capitalize;background-image: url('https://new-year.spartacodingclub.kr/images/yearS12.png'); }

.item a:hover{
    background-color: firebrick;
}